/* FORMATANDO A PÁGINA */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #161615;
    font-family: "Poppins";
    color: white;
}

main{
    max-width: 1100px;
}

/* MENU */

.menu-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0668bc;
    color: white;
    align-items: center;
}

.menu-content-items{
    padding: 1em;
    list-style: none;
    text-transform: uppercase;
    align-self: center;
    font-weight: bold;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: .9em;
}

.menu a:hover{
    background-color: #0687d1;
    transition: all .5s;
}

.menu-content img{
    width: 13px;
}

/* TOPO */

.principal{
    width: 90%;
    text-align: center;
    margin: auto;
}

h1{
    background-color: #0668bc;
    color: white;
    border-radius: 2em;
    margin-top: 2em;
    display: inline-block;
    width: 5em;
}

h1::first-letter{
    color: #1aaaff;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px white;
}

.topo-subtitle span{
    display: inline-block;
    background-image: linear-gradient(to right, #5ce1e6, #1aaaff, #0668bc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    margin-bottom: 1em;
}

.topo-subtitle2{
    background-image: linear-gradient(to left, #5ce1e6, #1aaaff, #0668bc);
    text-transform: uppercase;
    font-size: 1.4em;
    margin-bottom: 1em;
}

@keyframes slide{

    0%, 22%, 100%{
        transform: translateY(0);
    }

    25%, 47%{
        transform: translateY(-43.5vh);
    }

    50%, 72%{
        transform: translateY(-87vh);
    }

    75%, 97%{
        transform: translateY(-130.5vh);
    }
}

.topo-content-slide-externo{
    height: 43.5vh;
    width: 100%;
    overflow: hidden;
    border: 6px solid #5ce1e6;
    margin-bottom: .5em;
}

.topo-content-slide-interno{
    width: 100%;
    will-change: transform;
    animation: slide 15s infinite;
}

.topo-content-slide-interno img{
    height: 43.5vh;
    width: 100%;
    display: block;
}

.topo-content-oferta span{
    display: inline-block;
    color: #5ce1e6;
}

.topo-content-oferta-proposta{
    font-size: 1.3em;
}

.topo-content-oferta-proposta .valor-oferta{
    background-image: linear-gradient(to right, #00f7ff, #1aaaff, #00f7ff, #1aaaff, #00f7ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
}

.valor-cortado{
    text-decoration: line-through;
}

button{
    padding: 1em;
    width: 12em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
    background-image: linear-gradient(to right, #5ce1e6, #1aaaff, #0668bc);
    color: white;
    margin-bottom: 2em;
    font-weight: bold;
    transition: all .5s;
}

button:hover{
    background-image: linear-gradient(to right, #0668bc, #1aaaff,  #5ce1e6);
    cursor: pointer;
    transition: all .5s;
}

/* DESCRIÇÃO */

.descricao-title{
    background-image: linear-gradient(to right, #5ce1e6, #1aaaff, #0668bc);
    margin-bottom: 1em;
    padding: 1em;
}
.descricao-content{
    border: 3px solid #0668bc;
    margin-bottom: 2em;
}

.descricao-content img{
    width: 20%;
}

article{
    padding: 3% 7% 7% 7%;
}

article h3{
    margin-bottom: .5em;
}

article p{
    text-align: justify;
}

/* INFORMATIVO | 100g em um tênis*/

.informativo{
    text-align: justify;
}

.informativo-title{
    background-image:linear-gradient(to right, #5ce1e6, #1aaaff, #0668bc);
    border-radius: 2em;
    display: inline-block;
    width: 10em;
    margin-bottom: 1em;
}

.container-subtitle{
    border-bottom: 3px solid #5ce1e6;
    margin-bottom: 1em;
    font-size: 1.3em;
}

.informativo h4 strong, .informativo p strong{
    color: #5ce1e6;
}

.informativo img{
    width: 100%;
    margin-bottom: 1em;
}

/* INFORMATIVO 2 | +200mil footnister*/

.informativo3 h3{
    text-align: center;
}

.informativo2{
    text-align: justify;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.informativo2 div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
}

.informativo2 h3 .brasil, .informativo2 div .brasil{
    color: yellow;
}

.informativo2 h3 strong{
    color: #1aaaff;
}

.informativo2 div strong{
    color: #1aaaff;
}

.informativo2 div span{
    background: #5ce1e6;
    display: inline-block;
    padding: .5em;
    border-radius: 2em;
    margin-bottom: 1em;
}

.informativo2 img{
    width: 20%;
    margin-bottom: 1em;
}

.informativo2 button{
    margin-left: 50%;
    transform: translateX(-6em);
}

/* INFORMATIVO 3 | Não esqueça de fazer o login */

.informativo3{
    text-align: justify;
}

.informativo3 h3{
    margin-bottom: 1em;
}

.informativo3 img{
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    margin-bottom: 1em;
}

.informativo3 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informativo3 p{
    display: flex;
    align-items: center;
    width: 80%;
}

.atleta{
    width: 100%;
}

.informativo3 span{
    color: #1aaaff;
}

.frase-motivacional{
    font-size: 1.2em;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2em;
}

.frase-motivacional strong{
    color: #0668bc;
}

/* Footer */

.rodape{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.rodape ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.rodape img{
    width: 33%;
}

footer div p{
    display: inline-block;
    width: 30%;
    margin: 1.2%;
    text-align: center;
    font-size: .7em;
}

footer > p{
    background-color: #0668bc;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: .7em;
}

.atribuicoes{
    background: #02fefe;
    color: #000000;
    border-bottom: 1px solid black;
}

.atribuicoes-content{
    background: #02fefe;
    color: #000000;
    margin-top: 0;
}

.atribuicoes-content a{
    color: #000000;
}


/* Responsividade */

@media screen and (min-width:500px) {
    .topo h1{
        margin-top: 1em;
    }

    .topo-subtitle2{
        margin-bottom: .2em;
    }

    @keyframes slide{

    0%, 22%, 100%{
        transform: translateY(0);
    }

    25%, 47%{
        transform: translateY(-55vh);
    }

    50%, 72%{
        transform: translateY(-110vh);
    }

    75%, 97%{
        transform: translateY(-165vh);
    }
}

.topo-content-slide-externo{
    height: 55vh;
    width: 100%;
    overflow: hidden;
    border: 6px solid #5ce1e6;
    margin-bottom: .5em;
}

.topo-content-slide-interno{
    width: 100%;
    will-change: transform;
    animation: slide 15s infinite;
}

.topo-content-slide-interno img{
    height: 55vh;
    width: 100%;
    display: block;
} 
}

@media screen and (min-width:600px) {

    .topo-subtitle2{
        width: 540px;
        margin-left: 50%;
        transform: translateX(-270px);
    }


    @keyframes slide{

        0%, 22%, 100%{
            transform: translateY(0);
        }
    
        25%, 47%{
            transform: translateY(-450px);
        }
    
        50%, 72%{
            transform: translateY(-900px);
        }
    
        75%, 97%{
            transform: translateY(-1350px);
        }
    }
    
    .topo-content-slide-externo{
        height: 450px;
        width: 540px;
        overflow: hidden;
        border: 6px solid #5ce1e6;
        margin-bottom: .5em;
        margin-left: 50%;
        transform: translateX(-270px);
    }
    
    .topo-content-slide-interno{
        width: 100%;
        will-change: transform;
        animation: slide 15s infinite;
    }
    
    .topo-content-slide-interno img{
        height: 450px;
        width: 100%;
        display: block;
    } 
}

@media screen and (min-width:768px){
    
    .descricao{
        display: flex;
        flex-wrap: wrap;
    }

    .descricao-content{
        width: 46%;
        margin: 2%;
    }

    .informativo2 p{
        margin-top: 5%;
    }

    .rodape img{
        width: 20%;
    }

    .informativo img{
        width: 40%;
        margin: 0;
        margin-left: 50%;
        transform: translateX(-40%);
    }
}

@media screen and (min-width:1000px){

    .topo-content{
        display: flex;
    }

    .topo-subtitle2{
        margin-left: 0%;
        transform: translateX(0px);
    }

    .topo-content-slide-externo{
        margin-left: 0%;
        transform: translateX(0px);
    }

    .topo-content-oferta{
        width: 400px;
        padding: 0 1em 1em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin: auto;
        font-size: 1.2em;
    }

    .topo-subtitle2{
        width: 540px;
        margin: auto;
        margin-bottom: 1em;
    }

    .topo-content-oferta-paragrafo{
        font-size: 1.6em;
        width: auto;
        margin: 0;
    }

    .descricao{
        display: flex;
        flex-direction: row;
    }

    .descricao-content{
        width: 24%;
        margin: .5%;
        padding: 2em 2em;
    }

    .descricao img{
        width: 50%;
    }

    .informativo2{
        border-right: 3px solid #0668bc;
    }

    .informativo2 h3{
        margin-right: 5%;
    }
    .container-informativo2{
        display: flex;
    }

    .informativo3 h3{
        margin-left: 5%;
    }
    
    .frase-motivacional{
        margin-bottom: 2em;
        font-size: 1.5em;
        font-weight: bold;
        border-bottom: 1px solid #0668bc;
    }

    footer div p{
        margin: 1.5%;
    }

    .rodape img{
        width: 10%;
    }

    .informativo-title{
        margin-top: 3em;
        padding: .7em;
    }

    .atleta{
        width: 30%;
    }
}